* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, .ubicacion, .productos {
  background-image: linear-gradient(97.3deg, rgba(25, 50, 70, 0.81) 10.7%, rgba(155, 65, 25, 0.72) 39.5%, rgba(255, 192, 0, 0.81) 69.7%);
}

.navbar {
  background-color: #161615;
  background-image: linear-gradient(12deg, #161615 0%, #2d2d28 46%, #615d54 100%);
  height: 80px;
  width: 100%;
}
.navbar-brand {
  font-size: 25px;
  font-family: fantasy;
  text-shadow: 2px 2px 5px gray;
}
.navbar .navbar-nav .nav-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: 2px 2px 5px gray;
}
.navbar .navbar-nav .nav-link:hover {
  color: yellow;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(img/../../imagenes/IMG_0385.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.home .subtitulo {
  color: rgba(255, 255, 0, 0.699);
  min-width: 50%;
  height: 200px;
  font-family: fantasy;
  background-color: rgba(0, 0, 0, 0.507);
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: 2px 2px 5px black;
}
.home .subtitulo h2 {
  font-size: 80px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 70px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: bienvenidos;
          animation-name: bienvenidos;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes bienvenidos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bienvenidos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home .subtitulo p {
  font-size: 20px;
  padding-left: 120px;
}

.presentacion {
  width: 100%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.945);
  display: flex;
  color: white;
}
.presentacion .presentacion1 {
  background-image: url(img/../../imagenes/IMG_0386.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
  width: 50%;
  border-radius: 10px;
}
.presentacion .presentacion2 {
  min-height: 500px;
  width: 50%;
  padding: 30px;
}
.presentacion .presentacion2 h2 {
  font-size: 40px;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px gray;
  padding: 70px 30px;
  text-align: center;
}
.presentacion .presentacion2 p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
  text-shadow: 2px 2px 5px gray;
  text-align: justify;
}

.titulo2 {
  height: auto;
  width: 100%;
}
.titulo2 h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px gray;
  padding-top: 20px;
}

.contactos {
  width: 100%;
  height: 100vh;
  background-image: url(img/../../imagenes/IMG_0385.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.contactos .left {
  width: 50%;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px gray;
  padding: 20px;
  text-align: center;
}
.contactos .left .contactanos {
  color: yellow;
  font-size: 35px;
  font-family: fantasy;
  padding: 10px;
}
.contactos .left strong {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contactos .right {
  width: 50%;
  padding: 20px;
}
.contactos .form-control {
  width: 90%;
  padding: 10px;
  margin: 10px;
}
.contactos .btn {
  margin: 10px;
}
.contactos .btn-primary {
  color: black;
  background-color: yellow;
  border-color: white;
  font-family: fantasy;
  transition: all 0.7s;
}
.contactos .btn-primary:hover {
  transform: translateY(-20px);
  transition: all 0.7s;
  background-color: yellow;
  border-color: yellow;
  color: black;
}

.productos {
  min-height: 800px;
  width: 100%;
}
.productos h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px gray;
  padding-top: 45px;
}
.productos p {
  color: rgba(0, 0, 0, 0.945);
  text-align: justify;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}
.productos .productos2 {
  height: auto;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
}
.productos .item {
  height: 200px;
  border: 2px solid black;
  margin: 20px;
  box-shadow: 3px 3px 5px black;
}
.productos .item:hover {
  transform: scale(1.05);
  transition: all 0.5s;
}
.productos .item1 {
  background-image: url(img/../../imagenes/IMG_0395.jpg);
  background-position: center;
  background-size: cover;
}
.productos .item2 {
  background-image: url(img/../../imagenes/IMG_0402.jpg);
  background-position: center;
  background-size: cover;
}
.productos .item3 {
  background-image: url(img/../../imagenes/IMG_0439.jpg);
  background-position: center;
  background-size: cover;
}
.productos .item4 {
  background-image: url(img/../../imagenes/IMG_0430.jpg);
  background-position: center;
  background-size: cover;
}
.productos .item5 {
  background-image: url(img/../../imagenes/IMG_0431.jpg);
  background-position: center;
  background-size: cover;
}
.productos .item6 {
  background-image: url(img/../../imagenes/IMG_0437.jpg);
  background-position: center;
  background-size: cover;
}

.ubicacion {
  min-height: 800px;
  width: 100%;
}
.ubicacion h2 {
  color: black;
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px gray;
  padding-top: 40px;
}
.ubicacion iframe {
  width: 90%;
  height: 500px;
  padding: 20px;
  margin: 50px;
}
.ubicacion p {
  color: black;
  text-align: center;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  text-transform: capitalize;
}

footer {
  background-color: black;
  width: 100%;
  min-height: 50%;
  color: white;
  text-align: center;
  padding: 20px;
}
footer .horarios p {
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
footer .redes i {
  font-size: 40px;
  letter-spacing: 20px;
  transition: all 0.5s;
}
footer .redes i:hover {
  color: yellow;
  cursor: pointer;
  transform: translateY(-20px);
  transition: all 0.5s;
}
footer ::-moz-selection {
  background-color: yellow;
  color: black;
}
footer ::selection {
  background-color: yellow;
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url(img/../../../imagenes/IMG_0385.jpg);
  }
  .home .subtitulo {
    width: 200px;
    height: 150px;
    margin-top: 80px;
    margin-left: 130px;
    margin-right: 120px;
  }
  .home .subtitulo h2 {
    font-size: 30px;
    padding: 20px;
    text-align: center;
  }
  .home .subtitulo p {
    font-size: 16px;
    padding: 10px;
    text-align: center;
  }
  .presentacion {
    display: grid;
    grid-column: 1fr;
  }
  .presentacion .presentacion1 {
    width: 100%;
    min-height: 200px;
  }
  .presentacion .presentacion2 {
    width: 100%;
    min-height: 100px;
  }
  .presentacion .presentacion2 h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
  .presentacion .presentacion2 p {
    font-size: 16px;
    padding: 0%;
    margin: 0%;
  }
  .titulo2 h2 {
    font-size: 25px;
    padding-top: 15px;
  }
  .contactos {
    display: block;
    min-height: 800px;
  }
  .contactos .left {
    width: 100%;
  }
  .contactos .left .contactanos {
    font-size: 20px;
  }
  .contactos .left strong {
    font-size: 16px;
  }
  .contactos .right {
    width: 100%;
  }
  .productos h2 {
    font-size: 25px;
  }
  .productos p {
    font-size: 16px;
  }
  .productos .productos2 {
    display: grid;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
  }
  .ubicacion h2 {
    font-size: 25px;
  }
  .ubicacion p {
    font-size: 16px;
  }
  .ubicacion iframe {
    width: 90%;
    height: 500px;
    padding: 30px;
    margin: 0%;
  }
  footer .horarios p {
    font-size: 16px;
    padding: 10px;
  }
  footer .redes i {
    font-size: 25px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {
  .productos .productos2 {
    display: grid;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  }
  .ubicacion h2 {
    font-size: 30px;
  }
  .ubicacion iframe {
    width: 90%;
    height: 500px;
    margin: 10px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home .subtitulo {
    width: 300px;
    height: 200px;
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 200px;
  }
  .home .subtitulo h2 {
    font-size: 50px;
    padding: 20px;
    text-align: center;
  }
  .home .subtitulo p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
  .presentacion {
    display: flex;
    justify-content: space-between;
  }
  .presentacion .presentacion1 {
    width: 50%;
    min-height: 500px;
  }
  .presentacion .presentacion2 {
    width: 50%;
    min-height: 500px;
  }
  .presentacion .presentacion2 h2 {
    font-size: 25px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 20px;
    text-align: center;
  }
  .presentacion .presentacion2 p {
    font-size: 16px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 15px;
    text-align: justify;
  }
}
@media screen and (min-width: 1001px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home .subtitulo {
    width: 500px;
    height: 250px;
    margin-top: 80px;
    margin-left: 300px;
    margin-right: 300px;
  }
  .home .subtitulo h2 {
    font-size: 80px;
    padding: 20px;
    text-align: center;
  }
  .home .subtitulo p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */