$colorfondo: linear-gradient(97.3deg, rgba(25, 50, 70, 0.81) 10.7%, rgba(155, 65, 25, 0.72) 39.5%, rgba(255, 192, 0, 0.81) 69.7%);
$nav: linear-gradient(12deg, #161615 0%, #2d2d28 46%, #615d54 100%);
$color1: yellow;
$color2: white;
$color3: gray;
$color4: rgba(255, 255, 0, 0.699);
$color5: rgba(0, 0, 0, 0.507);
$color6: black;
$color7: rgba(0, 0, 0, 0.945);
$colorborder: rgba(97, 0, 0, 0.767);
$font1: fantasy;
$font2: Verdana, Geneva, Tahoma, sans-serif;
